# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
mcproxy

# Security Credentials (e.g. TLS)
*.pem

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Don't ignore directories that have the same name as binaries
!*/

# Ignore excessive mcProxy routing table profiles
/config/*