.outer{
    height:100%;
    width: 1200px;
    background-color: #ffffff;
    margin: auto auto;
    vertical-align: middle;
}

.search{
    height: 400px;
    margin: 250px auto 0;
    text-align: center;
}

.search_box{
    width: 750px;
    height: 50px;
    border: 3px solid #323648;
    font-size: 20px;
    color: #323648;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.search_preset{
    width: 200px;
    height: 56px;
    border: 3px solid #323648;
    font-size: 20px;
    color: #323648;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.search_button{
    width: 200px;
    height:56px;
    border: 3px solid #323648;
    background-color: #323648;
    font-size: 20px;
    color: white;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

.loading{
    height: 400px;
    margin: 150px auto 0;
    text-align: center;
}

.index_h1{
    font-size: 40px;
    color: #323648;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.loading_p{
    font-size: 25px;
    color: #323648;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}