<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/rws.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
        <meta http-equiv="Refresh" content="5; url=./dash" />
        <title>Revature Web Services</title>
    </head>
    <body>
        <div class="outer">
            <div class="result">
                <h1 class="h1">System Status</h1>
                <h2 class="h2">Node Status</h2>
                <table>
                    <tr>
                        <th class="dash_th" width=150>Name</th>
                        <th class="dash_th" width=100>Role</th>
                        <th class="dash_th" width=100>Age</th>
                        <th class="dash_th" width=100>Version</th>
                        <th class="dash_th" width=120>Internal IP</th>
                        <th class="dash_th" width=120>External IP</th>
                        <th class="dash_th" width=120>OS Image</th>
                        <th class="dash_th" width=150>Kernel Version</th>
                        <th class="dash_th" width=120>Container Runtime</th>
                    </tr>
                    {{range .Node}}
                    <tr>
                        <td class="dash_td" width=120>{{.Name}}</td>
                        <td class="dash_td" width=120>{{.Role}}</td>
                        <td class="dash_td" width=120>{{.Age}}</td>
                        <td class="dash_td" width=120>{{.Version}}</td>
                        <td class="dash_td" width=120>{{.InternalIP}}</td>
                        <td class="dash_td" width=120>{{.ExternalIP}}</td>
                        <td class="dash_td" width=120>{{.OSImage}}</td>
                        <td class="dash_td" width=120>{{.KernelVer}}</td>
                        <td class="dash_td" width=120>{{.ContainerRunTime}}</t>
                    </tr>
                    {{end}}
                </table>
                <h2 class="h2">Pod Status</h2>
                <table>
                    <tr>
                        <th class="dash_th">Name</th>
                        <th class="dash_th">Ready</th>
                        <th class="dash_th">Status</th>
                        <th class="dash_th">Restart</th>
                        <th class="dash_th">Age</th>
                        <th class="dash_th">IP Address</th>
                        <th class="dash_th">Node</th>
                        <th class="dash_th">Nominated Node</th>
                        <th class="dash_th">Readiness Gate</th>
                    </tr>
                    {{range .Pod}}
                    <tr>
                        <td class="dash_td">{{.Name}}</td>
                        <td class="dash_td">{{.Ready}}</td>
                        <td class="dash_td">{{.Status}}</td>
                        <td class="dash_td">{{.Restart}}</td>
                        <td class="dash_td">{{.Age}}</td>
                        <td class="dash_td">{{.IPAddress}}</td>
                        <td class="dash_td">{{.Node}}</td>
                        <td class="dash_td">{{.NominatedNode}}</td>
                        <td class="dash_td">{{.ReadinessGate}}</td>
                    </tr>
                    {{end}}
                </table>
                <h2 class="h2">Service Status</h2>
                <table>
                    <tr>
                        <th class="dash_th">Name</th>
                        <th class="dash_th">Type</th>
                        <th class="dash_th">Cluster IP</th>
                        <th class="dash_th">External IP</th>
                        <th class="dash_th">Port</th>
                        <th class="dash_th">Age</th>
                        <th class="dash_th">Selector</th>
                    </tr>
                    {{range .Service}}
                    <tr>
                        <td class="dash_td">{{.Name}}</td>
                        <td class="dash_td">{{.Type}}</td>
                        <td class="dash_td">{{.ClusterIP}}</td>
                        <td class="dash_td">{{.ExternalIP}}</td>
                        <th class="dash_td">{{.Port}}</td>
                        <th class="dash_td">{{.Age}}</td>
                        <th class="dash_td">{{.Selector}}</td>
                    </tr>
                    {{end}}
                </table>
                <div class="result_spacer"></div>
                <form action="/">
                    <button class="home_button" type="submit">To Main Page</button>
                 </form>
        </div>
    </body>
</html>