apiVersion: apps/v1
kind: Deployment
metadata:
    name: collider-deployment
spec:
    selector:
        matchLabels:
            app: collider
    replicas: 1
    template:
        metadata:
            labels:
                app: collider
        spec:
            containers:
            - name: collider
              image: gophersuits/collider:0.3
              ports:
              - containerPort: 8080
---
kind: Service
apiVersion: v1
metadata:
    name: collider-service
spec:
    selector:
        app: collider
    ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30000
    type: NodePort